<template name="board">
  {{#if show}}
  <div id="board">
    {{> main_canvas}}
    {{> sidebar}}
    {{> history}}
    {{> moddedDialog}}
  </div>
  {{/if}}
</template>


<template name="main_canvas">
  <div id="main_canvas_div">
    <canvas id="main_canvas" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
  </div>
</template>


<template name="history">
  <div id="history">
    {{#each logLines}}
    <p>{{this}}</p>
    {{/each }}
  </div>
</template>


<template name='moddedDialog'>
  <div id="moddedDialog" title="{{title}}" class='hidden no-close'>
    <p>{{description}}</p>
    <div>
      {{#each cardChoices}}
      <div class='card-choice'>
        <img class='card-choice-img' src='{{ src }}'>
        <button class='btn action-button btn-block' data-id='{{ _id }}' data-cardType='{{ cardType }}'>Install {{ name }}</button>
      </div>
      {{/each}}
    </div>
  </div>
</template>
